{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="jumbotron">
        <h1 class="display-4">Formulaire d'inscription </h1>
        <p class="lead">Entre vous donne et Connecte vous Pour pouvoir ajouté des pesonnages et des dragons</p>
        <hr class="my-4">
    </div>



    {{ form_start(form) }}
    {{ form_row(form.login, {'label' : 'Nom d\'utilisateur', 'attr' : {'placeholder': 'Nom d\'utilisateur'}} ) }}
    {{ form_row(form.mdp, {'label' : 'Nom d\'utilisateur', 'attr' : {'placeholder': 'Nom d\'utilisateur'}} ) }}
     <button type="submit" class="btn btn-success"> Inscription</button>
    {{ form_end(form)}}
{% endblock %}
