{% extends "base.html.twig" %}
{% block title %} {{ parent() }} {% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    {% block menu %} {{ parent() }} {% endblock %}
    <h1>Bienvenue sur le site Dragon!</h1>
    <h2>Voici comment procéder:</h2>
    <br/>
    <td>
        <p>Pour jouer, il vous suffit de cliquer sur recherche pour choisir vos combattants, et les faire combattre!</p>
        <br/>
        <p>Vous êtes un administrateur? dans ce cas, cliquez sur "Se connecter" afin d'accéder au back-office qui vous
            permettra de d'ajouter, de modifier ou de suprimer des Dragons, des Personngaes ainsi que des Admin!</p>
        <br/>
    </td>
{% endblock %}
